body{
    background-color: black;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    display: flex;
    text-align: center;
    height: 100vh;
    margin: 0;
    
}




h1{
    color: aliceblue;
}



#new-tag{
    color: rgb(168, 158, 7);
font-size: 100px;
margin-top: 50px;


}



.api-data {
    color: blue;
    font-size: 16px;
  }
  





footer{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


h2{
    font-size: 20px;
    color: white;
}